<div th:replace= "head"></div>
<aside>
    <div class="align-left">
      <h3 th:text="${pageName}"></h3>
      <th:block th:each="Nsection : ${sections}">
        <a class="nbtn" th:href="${Nsection[1]}" th:utext="${Nsection[0]}"></a>
      </th:block>
    </div>
  </aside>
  <section class="section" id="request">
    <article id="tags">
      <div class="align-left"></div>
      <th:block th:each="Ntag : ${tags}">
        <button type="button" th:utext="${Ntag[0]}" th:attr="onclick=|centrarTag('${Ntag[0]}')|"></button>
      </th:block>
    </article>
    <th:block th:each="Ntag : ${tags}">
      <article style="display: block;" th:attr="name=|${Ntag[0]}|" class="tagPages">
        <h2 th:utext="${Ntag[0]}"></h2>
        <div th:if="${Ntag[1]}=='0'" class="pageTag">
          <table style="border: 1px solid black">
            <tr>
              <th:block th:each="header : ${headers}">
                <th th:utext="${header}"></th>
              </th:block>
            </tr>
            <th:block th:each="row : ${vhosts}">
              <tr>
                <td th:utext="${row.ip}"></td>
                <td th:utext="${row.cores}"></td>
                <td th:utext="${row.mem}"></td>
                <td th:utext="${row.status}"></td>
                <td th:utext="${row.chk}"></td>
                <td th:utext="${row.lastUpdate}"></td>
              </tr>
            </th:block>
          </table>
        </div>
        <div th:if="${Ntag[1]}=='1'" class="pageTag">
          <form method="post" action="/admin/addvhost">
            <p>
              IP:<br>
              <input type="text" name="ip">
            </p>
            <p>
              Cores:<br>
              <input type="number" name="cores">
            </p>
            <p>
              Memory (in GB):<br>
              <input type="number" name="mem">
            </p>
            <p>
              Frequency of processor (in MHz):<br>
              <input type="number" name="freq">
            </p>
            <p>
              Virtualization system administrator username:<br>
              <input type="text" name="userad">
            </p>
            <p>
              Password of this user:<br>
              <input type="password" name="pass">
            </p>
            <input type="submit" value="Create">
          </form>
        </div>
        <div th:if="${Ntag[1]}=='2'" class="pageTag">
          <form method="post" action="/admin/editvhost">
            <p>
              Select virtual host:
              <select name="host">
                <th:block th:each="vh : ${vhosts}">
                  <option th:utext="${vh.ip}" th:value="${vh.ip}"></option>
                </th:block>
              </select>
            </p>
            <p>
              Put in mode:
              <select name="mode">
                <th:block th:each="mode : ${hostModes}">
                  <option th:utext="${mode.name}" th:value="${mode.value}"></option>
                </th:block>
              </select>
            </p>
            <p style="color: red;">
              Mark to delete virtual host for the system:
              <input type="checkbox" name="delete">
            </p>
            <input type="submit" value="Apply">
          </form>
        </div>
        <div th:if="${Ntag[1]}=='3'" class="pageTag">
          <table style="border: 1px solid black">
            <tr>
              <th:block th:each="header : ${headers}">
                <th th:utext="${header}"></th>
              </th:block>
            </tr>
            <th:block th:each="row : ${storages}">
              <tr>
                <th:block th:each="e : ${row}">
                  <td th:utext="${e}"></td>
                </th:block>
              </tr>
            </th:block>
          </table>
        </div>
        <div th:if="${Ntag[1]}=='4'" class="pageTag">
          <form method="post" action="/admin/storages/add">
            <p>
              IP:<br>
              <input type="text" name="ip">
            </p>
            <p>
              Space (in GB):<br>
              <input type="number" name="space">
            </p>
            <p>
              Bandwidth (in Mbps):<br>
              <input type="number" name="bandwidth">
            </p>
            <p>
              iSCSI system administrator username:<br>
              <input type="text" name="userad">
            </p>
            <p>
              Password of this user:<br>
              <input type="password" name="pass">
            </p>
            <input type="submit" value="Create">
          </form>
        </div>
        <div th:if="${Ntag[1]}=='5'" class="pageTag">
          <form method="post" action="/admin/storages/edit">
            <p>
              Select storage:
              <select name="host">
                <th:block th:each="stg : ${listStorages}">
                  <option th:utext="${stg.ip}" th:value="${stg.ip}"></option>
                </th:block>
              </select>
            </p>
            <p>
              Put in mode:
              <select name="mode">
                <th:block th:each="mode : ${hostModes}">
                  <option th:utext="${mode.name}" th:value="${mode.value}"></option>
                </th:block>
              </select>
            </p>
            <p style="color: red;">
              Mark to delete storage for the system:
              <input type="checkbox" name="delete">
            </p>
            <input type="submit" value="Apply">
          </form>
        </div>


        <div th:if="${Ntag[1]}=='6'" class="pageTag">
          <table style="border: 1px solid black">
            <tr>
              <th:block th:each="header : ${headers}">
                <th th:utext="${header}"></th>
              </th:block>
            </tr>
            <th:block th:each="row : ${users}">
              <tr>
                <td th:utext="${row.name}"></td>
                <td th:utext="${row.mail}"></td>
                <td th:utext="${row.root}"></td>
                <td th:utext="${row.status}"></td>
                <td th:utext="${row.vms.size}"></td>
                <td th:utext="${row.groups.size}"></td>
                <td th:utext="${row.roles.size}"></td>
              </tr>
            </th:block>
          </table>
        </div>

        <div th:if="${Ntag[1]}=='7'" class="pageTag">
          <form method="post" action="/admin/users/add">
            <p>
              Name:<br>
              <input type="text" name="ip">
            </p>
            <p>
              Mail:<br>
              <input type="email" name="space">
            </p>
            <input type="submit" value="Create">
          </form>
        </div>

        <div th:if="${Ntag[1]}=='100'" class="pageTag">
          <div class="floatsBlocks">
            <h3>Global requests</h3>
            <table style="border: 1px solid black">
              <tr>
                <th:block th:each="header : ${headersRequests}">
                  <th th:utext="${header}"></th>
                </th:block>
              </tr>
              <th:block th:each="row : ${vms}">
                <tr>
                  <th:block th:each="us : ${row.user}">
                    <td th:utext="${us.name}"></td>
                  </th:block>
                  <th:block th:each="us : ${row.group}">
                    <td th:utext="${us}"></td>
                  </th:block>
                  <td th:utext="${#dates.format(row.date, 'yyyy-MM-dd')}"></td>
                  <td th:utext="${row.cores}"></td>
                  <td th:utext="${row.mem}"></td>
                </tr>
              </th:block>
            </table>
          </div>
          <div class="floatsBlocks">
            <h3>My requests</h3>
            <table style="border: 1px solid black">
              <tbody>
                <tr>
                  <th:block th:each="header : ${headersMyRequests}">
                    <th th:utext="${header}"></th>
                  </th:block>
                </tr>
                <th:block th:each="request : ${dataMyRequests}">
                  <tr>
                    <td th:utext="${request.status}"></td>
                    <td th:utext="${#dates.format(request.date, 'yyyy-MM-dd')}"></td>
                    <td th:utext="${request.cores}"></td>
                    <td th:utext="${request.mem}"></td>
                    <td>
                      <form th:if="!${request.isDefine}" method="post" action="/home/removevm">
                        <input type="hidden" th:value="${request.uuid}" name="uuid">
                        <input type="submit" style="color: red;" value="DELETE">
                      </form>
                    </td>
                  </tr>
                </th:block>
              </tbody>
            </table>
            <p>If the status is NOTDEFINED, the request has not been granted.</p>
          </div>
          <div class="floatsBlocks">
            <h3>New Request</h3>
            <form method="post" action="/home/newvm">
              <p th:utext="'Cores of procesor, default is '+${vmcoreval}+':'"></p>
              <input type="number" name="vmcore" th:value="${vmcoreval}" th:min="${vmcoremin}" th:max="${vmcoremax}">
              <p th:utext="'Frequency of procesor (in MHz), default is '+${vmfreqval}+':'"></p>
              <input type="number" name="vmfreq" th:value="${vmfreqval}" th:min="${vmfreqmin}" th:max="${vmfreqmax}">
              <p th:utext="'Memory (in GiB), default is '+${vmmemval}+':'"></p>
              <input type="number" name="vmmem" th:value="${vmmemval}" th:min="${vmmemmin}" th:max="${vmmemmax}">
              <br>
              <input type="submit" value="Create">
            </form>
          </div>
        </div>

        <div th:if="${Ntag[1]}=='102'" class="pageTag">
          <div class="pageTag">
            <table style="border: 1px solid black;">
              <tbody>
                <tr>
                  <th:block th:each="header : ${vmControlHeader}">
                    <th th:utext="${header}"></th>
                  </th:block>
                </tr>
                <th:block th:each="vme : ${vmOperate}">
                  <tr>
                    <td th:utext="${vme.uuid}"></td>
                    <td th:utext="${vme.cores}"></td>
                    <td th:utext="${vme.mem}"></td>
                    <td th:utext="${vme.space}"></td>
                    <td>
                      <form method="post" action="#">
                        <input type="hidden" th:value="${vme.uuid}" name="uuid">
                        <input type="hidden" value="" name="newSize">
                        <input type="button" name="operation" value="Connect" style="color: green;" th:onclick="document.getElementsByName('vncScreen')[0].src=[[${vme.conection}]]">
                        <input type="submit" name="operation" value="Start">
                        <input type="submit" name="operation" value="Shutdown">
                        <input type="submit" name="operation" value="ForceShutdown"> 
                        <input type="submit" name="operation" value="MoreDisk" onclick="var tmp = prompt('how much space do you want in GB? (the request may take time)') ; if(tmp == null) return false ; else document.getElementsByName('newSize').forEach(i => i.value=tmp)">
                        <input type="submit" name="operation" value="REMAKE" style="color: red;" onclick="return confirm('If you confirm, all data are erase')">
                        <input type="submit" name="operation" value="DELETE" style="color: red;" onclick="return confirm('If you confirm, the vm are destroy and erase data and free reservation')">
                      </form>
                    </td>
                  </tr>
                </th:block>
              </tbody>
              </table>
          </div>
        </div>
        <div th:if="${Ntag[1]}=='103'" class="pageTag">
          <!-- novnc_proxy --listen 6080 --vnc localhost:5900 -->
          <iframe style="width: 100%;" name="vncScreen" onload="this.style.height = (document.getElementsByClassName('tagPages')[2].clientHeight-29) + 'px';"></iframe>
        </div>

        <div th:if="${Ntag[1]}=='105'" class="pageTag">
          <div class="floatsBlocks">
            <h3>Groups requests</h3>
            <table style="border: 1px solid black">
              <tr>
                <th:block th:each="header : ${headersRequests}">
                  <th th:utext="${header}"></th>
                </th:block>
              </tr>
              <th:block th:each="row : ${vms}">
                <tr>
                  <th:block th:each="us : ${row.group}">
                    <td th:utext="${us}"></td>
                  </th:block>
                  <td th:utext="${#dates.format(row.date, 'yyyy-MM-dd')}"></td>
                  <td th:utext="${row.cores}"></td>
                  <td th:utext="${row.mem}"></td>
                </tr>
              </th:block>
            </table>
          </div>
        </div>

        <div th:if="${Ntag[1]}=='106'" class="pageTag">
          <div class="floatsBlocks">
            <h3>All groups</h3>
            <table style="border: 1px solid black; text-align: center;">
              <tr>
                <th:block th:each="header : ${headersAllGroups}">
                  <th th:utext="${header}"></th>
                </th:block>
              </tr>
              <th:block th:each="row : ${allGroups}">
                <tr>
                  <td th:utext="${row}"></td>
                  <td th:utext="${row.users.size()}"></td>
                  <td>
                    <form>
                      <input type="hidden" name="user" th:value="${username}"/>
                      <input type="hidden" name="group" th:value="${row}"/>
                      <input type="submit" value="Join to group"/>
                    </form>
                  </td>
                </tr>
              </th:block>
            </table>
          </div>
          <div class="floatsBlocks">
            <h3>New Group</h3>
            <form>
              <label for="name">Name of group:</label>
              <br>
              <input type="text" name="name"/>
              <br>
              <input type="submit" value="Create"/>
            </form>
          </div>
        </div>

        <div th:if="${Ntag[1]}=='107'" class="pageTag">

        </div>

      </article>
    </th:block>
  </section>
  <div th:replace= "foot"></div>