<div th:replace= "head"></div>
<aside>
    <div class="align-left">
      <h3 th:text="${pageName}"></h3>
      <th:block th:each="Nsection : ${sections}">
        <a class="nbtn" th:href="${Nsection[1]}" th:utext="${Nsection[0]}"></a>
      </th:block>
    </div>
  </aside>
  <section class="section" id="request">
    <article id="tags">
      <div class="align-left"></div>
      <th:block th:each="Ntag : ${tags}">
        <button type="button" th:utext="${Ntag[0]}" th:attr="onclick=|centrarTag('${Ntag[0]}')|"></button>
      </th:block>
    </article>
    <th:block th:each="Ntag : ${tags}">
      <article style="display: block;" th:attr="name=|${Ntag[0]}|" class="tagPages"><!--Secciones o paginas sin recarga-->
        <h2 th:utext="${Ntag[0]}"></h2>
        <div th:if="${Ntag[1]}=='100'" class="pageTag"> <!--Lista de todas las requests-->
          <div class="floatsBlocks">
            <h3>Global requests</h3>
            <table style="border: 1px solid black">
              <tr>
                <th:block th:each="header : ${headersRequests}">
                  <th th:utext="${header}"></th>
                </th:block>
              </tr>
              <th:block th:each="row : ${vms}">
                <tr>
                  <th:block th:each="us : ${row.group}">
                    <td th:utext="${us.name}"></td>
                  </th:block>
                  <td th:utext="${#dates.format(row.date, 'yyyy-MM-dd')}"></td>
                  <td th:utext="${row.cores}"></td>
                  <td th:utext="${row.mem}"></td>
                </tr>
              </th:block>
            </table>
          </div>
        </div>

        <div th:if="${Ntag[1]}=='102'" class="pageTag"> <!--Lista global de grupos-->
          <div class="floatsBlocks">
            <h3>All groups</h3>
            <table style="border: 1px solid black; text-align: center;">
              <tr>
                <th:block th:each="header : ${headersAllGroups}">
                  <th th:utext="${header}"></th>
                </th:block>
              </tr>
              <th:block th:each="row : ${allGroups}">
                <tr>
                  <td th:utext="${row}"></td>
                  <td th:utext="${row.users.size()+1}"></td> <!--+1 porque el admin va aparte-->
                  <td>
                    <form method="post" action="/home">
                      <input type="hidden" name="join" th:value="${row}"/>
                      <input type="submit" value="Join to group"/>
                    </form>
                  </td>
                </tr>
              </th:block>
            </table>
          </div>
        </div>

        <div th:if="${Ntag[1]}=='103'" class="pageTag"> <!--Peticiones realizadas PENDIENTE DE HACER-->
          <div class="floatsBlocks">
            <h3>My petitions for groups</h3>
            <table style="border: 1px solid black; text-align: center;">
              <tr>
                <th:block th:each="header : ${headersMyPetition}">
                  <th th:utext="${header}"></th>
                </th:block>
              </tr>
              <th:block th:each="row : ${myPetition}">
                <tr>
                  <td th:utext="${row.name}"></td>
                </tr>
              </th:block>
            </table>
          </div>
        </div>

        <div th:if="${Ntag[1]}=='104'" class="pageTag"> <!--Gestion de mis requests-->
          <div class="floatsBlocks"> <!--My requests-->
            <h3>My requests</h3>
            <table style="border: 1px solid black">
              <tbody>
                <tr>
                  <th:block th:each="header : ${headersMyRequests}">
                    <th th:utext="${header}"></th>
                  </th:block>
                </tr>
                <th:block th:each="request : ${dataMyRequests}">
                  <tr>
                    <td th:utext="${request.status}"></td>
                    <td th:utext="${#dates.format(request.date, 'yyyy-MM-dd')}"></td>
                    <td th:utext="${request.cores}"></td>
                    <td th:utext="${request.mem}"></td>
                    <td>
                      <form th:if="!${request.isDefine}" method="post" action="/home/myvms">
                        <input type="hidden" th:value="${request.uuid}" name="uuid">
                        <input type="submit" style="color: red;" value="DELETE">
                      </form>
                    </td>
                  </tr>
                </th:block>
              </tbody>
            </table>
            <p>If the status is NOTDEFINED, the request has not been granted.</p>
          </div>
          <div class="floatsBlocks"> <!--Formulario nueva requests-->
            <h3>New Request</h3>
            <form method="post" action="/home/myvms">
              <p th:utext="'Cores of procesor, default is '+${vmcoreval}+':'"></p>
              <input type="number" name="vmcore" th:value="${vmcoreval}" th:min="${vmcoremin}" th:max="${vmcoremax}">
              <p th:utext="'Frequency of procesor (in MHz), default is '+${vmfreqval}+':'"></p>
              <input type="number" name="vmfreq" th:value="${vmfreqval}" th:min="${vmfreqmin}" th:max="${vmfreqmax}">
              <p th:utext="'Memory (in GiB), default is '+${vmmemval}+':'"></p>
              <input type="number" name="vmmem" th:value="${vmmemval}" th:min="${vmmemmin}" th:max="${vmmemmax}">
              <br>
              <input type="submit" value="Create">
            </form>
          </div>
        </div>

        <div th:if="${Ntag[1]}=='105'" class="pageTag"> <!--Usuarios con los que comparto mis VMs-->
          <div class="floatsBlocks">
            <h3>Shares</h3>
            <table style="border: 1px solid black">
              <tbody>
                <tr>
                  <th:block th:each="header : ${headersMyShares}">
                    <th th:utext="${header}"></th>
                  </th:block>
                </tr>
                <th:block th:each="user : ${shares}">
                  <tr>
                    <td th:utext="${user.name}"></td>
                    <td>
                      <form method="post" action="/home/myvms">
                        <input type="hidden" th:value="${user.name}" name="unshare">
                        <input type="submit" style="color: red;" value="UNSHARE">
                      </form>
                    </td>
                  </tr>
                </th:block>
              </tbody>
            </table>
          </div>
        </div>

        <div th:if="${Ntag[1]}=='106'" class="pageTag"> <!--Lista de mis VMs (con sus controles)-->
          <div class="floatsBlocks">
            <h3>My VMs</h3>
            <table style="border: 1px solid black;">
              <tbody>
                <tr>
                  <th:block th:each="header : ${vmControlHeader}">
                    <th th:utext="${header}"></th>
                  </th:block>
                </tr>
                <th:block th:each="vme : ${vmOperate}">
                  <tr>
                    <td th:utext="${vme.uuid}"></td>
                    <td th:utext="${vme.cores}"></td>
                    <td th:utext="${vme.mem}"></td>
                    <td th:utext="${vme.space}"></td>
                    <td>
                      <input type="hidden" th:value="${vme.uuid}" id="uuid">
                      <input type="button" name="operation" value="Connect" style="color: green;" th:onclick="document.getElementsByName('vncScreen')[0].src=[[${vme.conection}]]">
                      <input type="button" name="operation" value="Start" onclick="vmExecute('Start')">
                      <input type="button" name="operation" value="Shutdown" onclick="vmExecute('Shutdown')">
                      <input type="button" name="operation" value="ForceShutdown" onclick="vmExecute('ForceShutdown')">
                      <th:block th:if="${iMaster}">
                        <input type="button" name="operation" value="MoreDisk" onclick="vmGetMoreSpace()">
                        <input type="button" name="operation" value="REMAKE" style="color: red;" onclick="vmExecuteConfirm('REMAKE', 'If you confirm, all data are erase')">
                        <input type="button" name="operation" value="DELETE" style="color: red;" onclick="vmExecuteConfirm('DELETE', 'If you confirm, the vm are destroy and erase data and free reservation')">
                      </th:block>
                    </td>
                  </tr>
                </th:block>
              </tbody>
              </table>
          </div>
        </div>

        <div th:if="${Ntag[1]}=='107'" class="pageTag"> <!--Monitor VNC-->
          <!-- novnc_proxy --listen 6080 --vnc localhost:5900 -->
          <iframe style="width: 100%;" name="vncScreen" onload="this.style.height = (document.getElementsByClassName('tagPages')[2].clientHeight-29) + 'px';"></iframe>
        </div>

        <div th:if="${Ntag[1]}=='110'" class="pageTag"> <!--Lista de los grupos del usuario y acceso a estos-->
          <div class="floatsBlocks">
            <h3>My Groups</h3>
            <table style="border: 1px solid black">
              <tr>
                <th:block th:each="header : ${headersGroups}">
                  <th th:utext="${header}"></th>
                </th:block>
              </tr>
              <th:block th:each="row : ${groups}">
                <tr>
                  <td th:utext="${row.name}"></td>
                  <td>
                    <form method="post" action="/home/mygroups">
                      <input type="hidden" th:value="${row.name}" name="groupselect">
                      <input type="submit" style="color: green;" value="VIEW">
                    </form>
                    <form method="post" action="/home/mygroups">
                      <input type="hidden" th:value="${row.name}" name="exitgroup">
                      <input type="submit" style="color: red;" value="EXIT">
                    </form>
                  </td>
                </tr>
              </th:block>
            </table>
          </div>
        </div>

        <div th:if="${Ntag[1]}=='111'" class="pageTag"> <!--Gestion de tu grupo-->
          <div class="floatsBlocks"> <!--Lista de usuarios del grupo-->
            <h3>Users of the group</h3>
            <table style="border: 1px solid black">
              <tr>
                <th:block th:each="header : ${headersListUsers}">
                  <th th:utext="${header}"></th>
                </th:block>
              </tr>
              <th:block th:each="row : ${listUsers}">
                <tr>
                  <td th:utext="${row.name}"></td>
                  <td>
                    <form method="post" action="/home/mygroups">
                      <input type="hidden" th:value="${row.name}" name="expulse">
                      <input type="hidden" th:value="${groupname}" name="groupselect">
                      <input type="submit" style="color: reed;" value="EXPULSE">
                    </form>
                  </td>
                </tr>
              </th:block>
            </table>
          </div>
          <div class="floatsBlocks"> <!--Lista de peticiones pendientes del grupo-->
            <h3>Pending petitions</h3>
            <table style="border: 1px solid black">
              <tr>
                <th:block th:each="header : ${headersPendingPetitions}">
                  <th th:utext="${header}"></th>
                </th:block>
              </tr>
              <th:block th:each="row : ${pendingPetitions}">
                <tr>
                  <td th:utext="${row.name}"></td>
                  <td>
                    <form method="post" action="/home/mygroups">
                      <input type="hidden" th:value="${row.name}" name="acceptpetition">
                      <input type="hidden" th:value="${groupname}" name="groupselect">
                      <input type="submit" style="color: green;" value="ACCEPT">
                    </form>
                    <form method="post" action="/home/mygroups">
                      <input type="hidden" th:value="${row.name}" name="declinepetition">
                      <input type="hidden" th:value="${groupname}" name="groupselect">
                      <input type="submit" style="color: red;" value="DECLINE">
                    </form>
                  </td>
                </tr>
              </th:block>
            </table>
          </div>
          <div class="floatsBlocks"> <!--Lista de requests del grupo-->
            <h3>My requests</h3>
            <table style="border: 1px solid black">
              <tbody>
                <tr>
                  <th:block th:each="header : ${headersMyRequests}">
                    <th th:utext="${header}"></th>
                  </th:block>
                </tr>
                <th:block th:each="request : ${dataMyRequests}">
                  <tr>
                    <td th:utext="${request.status}"></td>
                    <td th:utext="${#dates.format(request.date, 'yyyy-MM-dd')}"></td>
                    <td th:utext="${request.cores}"></td>
                    <td th:utext="${request.mem}"></td>
                    <td>
                      <form th:if="!${request.isDefine}" method="post" action="/home/mygroups">
                        <input type="hidden" th:value="${request.uuid}" name="deleteRequest">
                        <input type="hidden" th:value="${groupname}" name="groupselect">
                        <input type="submit" style="color: red;" value="DELETE">
                      </form>
                    </td>
                  </tr>
                </th:block>
              </tbody>
            </table>
            <p>If the status is NOTDEFINED, the request has not been granted.</p>
          </div>
          <div class="floatsBlocks"> <!--Formulario de request del grupo-->
            <h3>New Request</h3>
            <form method="post" action="/home/mygroups">
              <input type="hidden" th:value="${groupname}" name="groupselect">
              <p th:utext="'Cores of procesor, default is '+${vmcoreval}+':'"></p>
              <input type="number" name="vmcore" th:value="${vmcoreval}" th:min="${vmcoremin}" th:max="${vmcoremax}">
              <p th:utext="'Frequency of procesor (in MHz), default is '+${vmfreqval}+':'"></p>
              <input type="number" name="vmfreq" th:value="${vmfreqval}" th:min="${vmfreqmin}" th:max="${vmfreqmax}">
              <p th:utext="'Memory (in GiB), default is '+${vmmemval}+':'"></p>
              <input type="number" name="vmmem" th:value="${vmmemval}" th:min="${vmmemmin}" th:max="${vmmemmax}">
              <br>
              <input type="submit" value="Create">
            </form>
          </div>
          <div class="floatsBlocks"> <!--BOTON DE BORRADO DE GRUPO-->
            <h3>DELETE THIS GROUP</h3>
            <form method="post" action="/home/mygroups" onsubmit="return confirm('Are you absolutely sure you want to delete this group?')">
              <p>
                Information: this action don't have return.
                <br>
                Its definitive.
              </p>
              <p>
                The group its only posible deleted when,
                <br>
                dont have VMs, requests (VMs not defined)
                <br>
                and users (except the responsable user).</p>
              <input type="hidden" name="deleteGroup" th:value="${groupname}">
              <input type="submit" style="background-color: red;" value="DELETE">
            </form>
          </div>
        </div>

        <!--TERMINA EL HOME-->
      </article>
    </th:block>
  </section>
  <div th:replace= "foot"></div>