<div th:replace= "head"></div>
<aside>
    <div class="align-left">
      <h3 th:text="${pageName}"></h3>
      <th:block th:each="Nsection : ${sections}">
        <a class="nbtn" th:href="${Nsection[1]}" th:utext="${Nsection[0]}"></a>
      </th:block>
    </div>
  </aside>
  <section class="section" id="request">
    <article id="tags">
      <div class="align-left"></div>
      <th:block th:each="Ntag : ${tags}">
        <button type="button" th:utext="${Ntag[0]}" th:attr="onclick=|centrarTag('${Ntag[0]}')|"></button>
      </th:block>
    </article>
    <th:block th:each="Ntag : ${tags}">
      <article style="display: block;" th:attr="name=|${Ntag[0]}|" class="tagPages"><!--Secciones o paginas sin recarga-->
        <h2 th:utext="${Ntag[0]}"></h2>
        <div th:if="${Ntag[1]}=='0'" class="pageTag"> <!--Lista de todas las requests-->
          <div class="floatsBlocks">
            <h3>View and modify my data</h3>
            <p th:utext="|Name: ${username}|"></p>
            <p th:utext="|Email: ${usermail}|"></p>
            <p>
              <form action="/myuser" method="post" onsubmit='return checkTwicePassword("passwordCheck1", "passwordCheck2")'>
                Change password (write twice):
                <br>
                <input id="passwordCheck1" type="password" name="value">
                <br>
                <input id="passwordCheck2" type="password">
                <br>
                <input type="submit" value="change password" name="changePass">
              </form>
            </p>
            <p>
              <form action="/myuser" method="post">
                Change email:
                <br>
                <input type="email" name="value">
                <br>
                <input type="submit" value="change email" name="changeMail">
              </form>
              <form action="/myuser" method="post">
                <input type="submit" value="Send test email" name="sendMe">
              </form>
            </p>
          </div>
          <div class="floatsBlocks">
            <h3>View my limits (total)</h3>
            <p th:utext="|Max numer of VMs: ${nVms}|"></p>
            <p th:utext="|Max numer of cores: ${nCores}|"></p>
            <p th:utext="|Max numer of memory: ${nMem} GB|"></p>
            <p th:utext="|Max numer of disk: ${nDisk} GB|"></p>
          </div>
        </div>
      </article>
    </th:block>
  </section>
  <div th:replace= "foot"></div>