<script src="https://cdn.plot.ly/plotly-latest.min.js"></script> <!--Library for graphics-->
<script type="text/javascript" th:inline="javascript">

    //Notificaciones del systema
    /*<![CDATA[*/
        var message = /*[[${msgOfSystem}]]*/ 'default';
        if(message)
            alert(message);
    /*]]>*/

    function desplegar(elemento)
    {
        var tmp=document.getElementsByName(elemento)[0];
        if(tmp.style.display=="none")
            tmp.style.display="block";
        else
            tmp.style.display="none";
    }
    
    function centrarTag(pestana)
    {
        var pages=document.getElementsByClassName('tagPages')
        for(i=0;i<pages.length;i++)
        {
            if(pages[i].getAttribute('name')==pestana)
                pages[i].style.display='block'
            else
            pages[i].style.display='none'
        }
    }
    /*
    Get code from https://www.w3schools.com/js/js_ajax_intro.asp
    */
    function loadDoc(key) {
        const xhttp = new XMLHttpRequest();
        xhttp.onload = function() {
            document.getElementById("demo").innerHTML = this.responseText;
        }
        xhttp.open("GET", key);
        xhttp.send();
    }

    function vmExecute(op) {
        const xhttp = new XMLHttpRequest();
        var uuid = document.getElementById("uuid").value;
        xhttp.open("POST", "/home/vmoperation");
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.send("operation="+op+"&uuid="+uuid);
    }

    function vmGetMoreSpace()
    {
        var size = prompt('how much space do you want in GB? (the request may take time)');
        if(size == null)
            return false;
        const xhttp = new XMLHttpRequest();
        var uuid = document.getElementById("uuid").value;
        xhttp.open("POST", "/home/vmoperation");
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.send("operation=MoreDisk&uuid="+uuid+"&newSize="+size);
    }

    function vmExecuteConfirm(op, msg)
    {
        if(!confirm(msg))
            return false;
        const xhttp = new XMLHttpRequest();
        var uuid = document.getElementById("uuid").value;
        xhttp.open("POST", "/home/vmoperation");
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.send("operation="+op+"&uuid="+uuid);
    }

    function changePropertieOfList(id, msg)
    {
        var tmp = prompt(msg);
        if(tmp == null)
            return false;
        document.getElementById(id).value = tmp;
        return true;
    }

    function viewMembersOfGroup(grupo)
    {
        //Buscar el grupo y moverlo a la tabla de vision de grupos
        var table = document.getElementById("groupMembers");
        var users = document.getElementById(grupo);
        var owner = users.children[0].textContent;

        while (table.rows.length > 0)
            table.deleteRow(0);

        if(users.children.length == 1)
        {
            var row = table.insertRow(0);
            var cell = row.insertCell();
            cell.innerHTML = "None";
        }

        for (var i = 0; i<users.children.length; i++)
        {
            var name = users.children[i+1].textContent;
            var row = table.insertRow(i);
            var cell = row.insertCell();
            cell.innerHTML = name;
            var cell = row.insertCell(1);
            cell.innerHTML = '<form method="post"> <input type="hidden" name="name" value="'+owner+'"> <input type="hidden" name="value" value="'+name+'"> <input type="submit" name="field" value="EXPULSE" style="color: red;"></form>';
        }
    }

    function generateGraph(title, elements, values, type, orientation, box)
    {
        const layout = {title: title};
        const data = [{
            y:elements,
            x:values,
            values:elements,
            labels:values,
            type:type,
            hole:.55,
            orientation:orientation, //h
            marker: {color:"#74b1ff"}
        }];
        Plotly.newPlot(box, data, layout);
    }

    function getDataToGraphics(data, name, position, graph, orientation)
    {
        //Plotly.js  https://www.w3schools.com/js/js_graphics_plotly.asp
        var root = document.getElementById(data);
        var elements = [];
        var values = [];
        for(var i = 0; i<root.children.length; i++)
        {
            values[i] = root.children[i].getAttribute('value');
            elements[i] = root.children[i].textContent;
        }
        if(orientation == "h")
            generateGraph(name , elements, values, graph, orientation, position);
        if(orientation == "v")
            generateGraph(name , values, elements, graph, orientation, position);
    }

    function checkTwicePassword(pass1, pass2)
    {
        var p1 = document.getElementById(pass1);
        var p2 = document.getElementById(pass2);
        p1 = p1.value;
        p2 = p2.value;
        if(p1.length < 8 || !(p1.match(/[a-z]/) && p1.match(/[A-Z]/)) || !p1.match(/\d/) || !p1.match(/[^a-zA-Z\d]/))
        {
            alert('The password need minimun 8 characters, upper and lower letters, a number, a special character');
            return false;
        }
        if(p1 == p2)
            return true;
        alert('The both passwords are not the same.');
        return false;
    }
</script>